@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-2">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary d-block">
            Savings Bank
        </button>
    </div>
</div>
<div class="col-md-2">
    <button type="button" class="btn btn-primary">
        Current Account
    </button>
</div>
<div class="col-md-2">
    <button type="button" class="btn btn-primary">
        Deposits
    </button>
</div>
<div class="col-md-2">
    <button type="button" class="btn btn-primary">
        Loans
    </button>
</div>
<div class="col-md-2">
    <button type="button" class="btn btn-primary">
        Cash Credit
    </button>
</div>
<div class="col-md-2">
    <button type="button" class="btn fill-block btn-primary">
        Bills
    </button>
</div>
