@model Banking.Models.TransferTransactionModel

<div class="card service-box d-none mt-3">
    <div class="card-body">



        <div class="row align-items-end g-3">
            <div class="col-sm-6 col-lg-3 col-xl-2">
                <label class="form-label">Issued on Bank</label>
                <select class="form-select">
                    <option selected="">101 - The Maharaja Coop</option>
                </select>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-2">
                <label for="Cust-Type" class="form-label">Issued on Branch</label>
                <select class="form-select">
                    <option selected="">101 - Dwarakanagar</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">Favouring.</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">Comm.</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">Rec. Nam</label>
                <select class="form-select">
                    <option selected="">Select</option>
                </select>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">GST</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">CESS</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">Pan No</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <label class="form-label">Mobile</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-md-8 col-lg-3 col-xl-2">
                <label class="form-label">Address1</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-2">
                <label class="form-label">Addr.2</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-2">
                <label class="form-label">Addr.3</label>
                <input type="text" class="form-control">
            </div>
        </div>

    </div>
</div>
