@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12">
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @Model.ErrorMessage
        </div>
    }
</div>
