@using Banking.Framework
@model Banking.Models.DashboardModel
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <script>
        $(document).ready(function () {
            var errorMessage = "@Html.Raw(System.Web.HttpUtility.HtmlEncode(Model.ErrorMessage))";
            $('#errorMessageText').text(errorMessage);
            $('#errorModal').modal('show');
        });
    </script>
}

@if (Model.AssignedModules.Keys.Count > 0)
{
    @foreach (var item in Model.AssignedModules.Keys)
    {
        string controller = BankingExtensions.GetModuleRoute[item.ToUpper()];

        <div class="col-2 d-grid gap-2 p-2">
            <a asp-controller="@controller" asp-action="Index" class="btn btn-lg btn-maharaja text-white">
                <strong>@Model.AssignedModules[item]</strong>
            </a>
        </div>
    }
}
