@model Banking.Models.DashboardModel
@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}


@if (Model.AssignedModules.Keys.Count > 0)
{
    @foreach (var item in Model.AssignedModules.Keys)
    {
        <div class="col-md-2">
        <div class="card">
            <img src="#" class="" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a href="" class="stretched-link">@Model.AssignedModules[item]</a></h5>
            </div>
        </div>
        </div>
    }
}
