<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinXPro - @ViewData["Title"]</title>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link asp-append-version="true" href="~/css/main.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/utilities.css" rel="stylesheet" />
    <link asp-append-version="true" href="~/css/sidebars.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-maharaja">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/bankLogo.jpg" style="height: 55px !important; width: 423px !important" alt="Our Bank"></a>
            </div>
        </nav>
    </header>
    <main role="main" class="container-fluid pb-3">
        <div class="row" style="height: inherit;">
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-maharaja">
        <div class="container">
            <span class="bg-text-maharaja">&copy; @DateTime.Now.Year</span>
        </div>
    </footer>
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script asp-append-version="true" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script asp-append-version="true" src="~/js/sidebars.js"></script>
    <script asp-append-version="true" src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
