<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>THE MAHARAJA CO.OP URBAN BANK LTD.</title>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/main.css">

    <link asp-append-version="true" rel="preconnect" href="https://fonts.googleapis.com">
    <link asp-append-version="true" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link asp-append-version="true" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..900;1,14..32,400..900&display=swap">

    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <header class="main-header py-2">
        <div class="container-xxl">
            <div class="d-flex align-items-center flex-wrap">
                <div class="logo-container d-flex align-items-center">
                    <div class="me-2">
                        <img src="~/images/maharaja_logo.svg" alt="Logo" />
                    </div>
                    <div>
                        <h3 class="mb-0">THE MAHARAJA CO.OP URBAN BANK LTD.</h3>
                    </div>
                </div>
                <div class="mt-2 mt-md-0  logout-container d-flex align-items-center fw-bold ms-auto">
                    <div class="me-3 text-end">
                        <div>FinXPro Banking System</div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="mb-3">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <footer class="py-3">
        <div class="container-xxl">
            <div class="row">
                <div class="col-12">
                    Designed and developed by <strong>SAS</strong>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
            integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
            crossorigin="anonymous"></script>
</body>
</html>
