@model Banking.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FinXPro - @ViewData["Title"]</title>
    <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link asp-append-version="true" rel="stylesheet" href="~/css/style.css" />
</head>
<body class="bg-maharaja">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-md navbar-dark hd-maharaja">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="#" asp-action="#"><img src="~/images/bankLogo.jpg" style="height: 55px !important; width: 423px !important" alt="Our Bank"></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row p-3">
                @RenderBody()
            </div>
        </div>
    </main>
    <footer class="bd-footer py-3 hd-maharaja">
        <div class="container text-center">
            <span class="text-white">&copy; @DateTime.Now.Year - FinXPro</span>
        </div>
    </footer>
    <script asp-append-version="true" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script asp-append-version="true" src="~/js/login.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
