
:root{
  --base-clr: #11121a;
  --sidemenu-clr:#fcf4b6;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #000;
  --white-clr: #fff;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
}

.content-area{
padding: 1rem;
}

.cards-container .card{
  text-align: center;
background-color: #000;
}

.cards-container{
display:grid;
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
gap:1rem;
justify-content: center;
}

.cards-container .card .card-title{
color: #fff;
} 

.cards-container .card img{
margin:1rem auto 0;
filter: brightness(0) invert(1);
width: 2rem;
}

.main-nav{
padding: 0.5rem 0;
background-color: #007e39;
}

@media (min-width: 992px) { 
   .main-container{
  grid-template-columns: auto 1fr;
}
 #sidebar{
  position: sticky;
  top: 0;
}

#sidebar.close{
  padding: 5px;
  width: 60px;
}
 }

@media (max-width: 991.98px) { 
   .main-container{
  grid-template-columns: 1fr;
}
  #sidebar{
  position: fixed;
  top: 0;
  z-index: 1021;
}

#sidebar.close,#sidebar{
  padding: 0px;
  width: 0px;
}
 }

 .main-container{
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
}

#sidebar{
  box-sizing: border-box;
  height: 100vh;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--sidemenu-clr);
  border-right:1px solid #dee2e6;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: nowrap;
}

#sidebar ul{
  list-style: none;
  padding: 0;
}

#sidebar > ul > li:first-child{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
  .logo{
    font-weight: 600;
  }
}
#sidebar ul li.active a{
  color: var(--accent-clr);

  svg{
    fill: var(--accent-clr);
  }
}

#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
  border-radius: .5em;
  padding: .85em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.25em;
}

#sidebar a{
 color: var(--text-clr);
}

.dropdown-btn{
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

#sidebar img{
  flex-shrink: 0;
 width: 20px;
}

#sidebar svg{
  flex-shrink: 0;
  fill: var(--text-clr);
}
#sidebar a span, #sidebar .dropdown-btn span{
  flex-grow: 1;
}
#sidebar a:hover, #sidebar .dropdown-btn:hover,#sidebar a.active{
  background-color: var(--hover-clr);
  color:#fff;
}

#sidebar a:hover img, #sidebar .dropdown-btn:hover img,#sidebar a.active img{
filter: brightness(0) invert(1);
}

#sidebar .dropdown-btn:hover svg {
    fill: var(--white-clr);
}

#sidebar .sub-menu{
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div{
    overflow: hidden;
  }
}
#sidebar .sub-menu.show{
  grid-template-rows: 1fr;
}
.dropdown-btn svg{
  transition: 200ms ease;
}
.rotate svg:last-child{
  rotate: 180deg;
}
#sidebar .sub-menu a{
  padding-left: 2em;
}
#toggle-btn{
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;

  svg{
    transition: rotate 150ms ease;
  }
}
#toggle-btn:hover{
  background-color: var(--hover-clr);
}

#toggle-btn:hover svg{
  fill: var(--white-clr);
}
